



<div *ngIf="!showform" class="contactList">
    <div class="formhead">
        <div style="margin-left:2%;">
          <i class="fas fa-plus font" (click)="showForm()" ></i>
        </div>
        
      <div class="headContent">
        <b>Food List</b>
        <input type="text" [(ngModel)]="searchTerm" style="width:50%;border-radius:16px;" (change)="transform()">
      </div>

      <div class="aligncalender"> 
        <i class="far fa-calendar-alt" (click)="showTodaylist()"></i>
      </div>
      
    </div>
    <div class="iop" style="margin-top:2%;" *ngFor="let eachoption of foodlist; let j = index">
 
      <div class="addlist">
        <span> <i class="fas fa-plus font" (click)="todayList(eachoption.name,eachoption.calories,eachoption.baseUrl)" ></i></span>
      </div>
      <div style="margin-left: 20%;">
        <span> <img [src]="eachoption.baseUrl" class="alignimg"></span>
      </div>
      <div display="block">
        
        <div style="text-align: center;margin-top: 2%;">
          <span> Name: {{ eachoption.name }}</span>
        </div>
        <div style="text-align: center">
          <span> Calories: {{ eachoption.calories}}</span>
         
        </div>
    
        
      </div>
    </div>
  
</div>

<div *ngIf="showform" class="cointainer">

  <p class="innercolorText"
      style="margin-top: 3.5%;font-size: xx-large;font-family: 'Roboto', sans-serif;margin-left:1%;">Add Food</p>
    <div class="textboxholder">
      <input [(ngModel)]="name" type="text" placeholder="Name"
        style="width:73%;height:10%;border-radius:25px;margin-top: 5.5%; margin-left:13%;text-align: center;font-size: medium;background-color:white;border:none;color:black;font-family: 'Roboto', sans-serif;">
      <input [(ngModel)]="calorie" type="text" placeholder="Calories"
        style="width:73%;height:10%;border-radius:25px;margin-top: 9.5%; margin-left:13%;text-align: center;font-size: medium;background-color: white;border:none;color:black;font-family: 'Roboto', sans-serif;">
      <input type="file" (change)="onFileSelected($event)"
        style="width:73%;height:10%;border-radius:25px;margin-top: 10.5%; margin-left:13%;text-align: center;font-size: medium;background-color: white;border:none;color:black;font-family: 'Roboto', sans-serif;">
      <button (click)="addFood()"
        style="width:35%;height: 15%;border-radius:20px;margin-left:32%;margin-top:7%;background-color: white;border:none;color:black;font-family: 'Roboto', sans-serif;">Add Food</button>
    </div>


</div>

<div *ngIf="showtoday" class="contactList">
  <div class="formhead">
      <div style="margin-left:2%;">
        <i class="fas fa-plus font" (click)="showForm()" ></i>
      </div>
      
    <div class="foodContent">
      <b>Todays's Food</b>
    </div>

    <div style="margin-left:10%;">
      <i class="far fa-calendar-alt" (click)="showTodaylist()"></i>
    </div>
    
  </div>
  <div class="iop" *ngFor="let eachoption of todayFood;let j = index">

    <div>
      <span> <img [src]="eachoption.baseUrl" class="alignimg"></span>
    </div>
    <div display="block">
      
      <div style="text-align: center;margin-top: 2%;">
        <span> Name: {{ eachoption.name }}</span>
      </div>
      <div style="text-align: center">
        <span> Calories: {{ eachoption.calories}}</span>
       
      </div>
  
      
    </div>
  </div>

</div>



<router-outlet></router-outlet>